		*{
			box-sizing: border-box;
		}
		body{
			
			background-color: #f0fff0;
		}
		p{
			color:bleu;
			font-size: 20px;
			width: 500px;
			border: 5px solid black;
		}
		h1{
			color:#E9967A;
			
		}
		#top{
			color:#2F4F4F;
			text-align: center;
		}
		.ulClass{
			list-style: none;
			margin: 50px;
		}
		.ilClass {
    		float: left;
    		font-size: 20px;
    		background-color: black;

		}
		.ulCalssSou{
			padding: 0px 0px;
			font-size: 15px;
			list-style: none;

		}
		/*li a {
    		text-align: center;
    		padding: 10px 100px;

    		text-decoration: none;
    		color: #800080;
    
		}*/
		li a:link, li a:visited{
			text-align: center;
    		padding: 0px 100px;
    		font-style: oblique;
    		text-decoration: none;
    		color: #F5FFFA;
    		border: 1px solid  	#FFFFFF;
    		background-color: black;
    		display: block;

		}
		li a:hover, li a:active{
			background-color: #778899;
			color: #FFE4B5;
		}
		
		section{
			color: #A52A2A;
			width: 100px;

		}
		aside{
			color: #FF8C00;
			width: 300px;
		}
		div{
			padding: 90px 0px 10px 0px;
			width: 1000px;
			height: 400px;
			background-color: red;

		}
		.pClass{
			float: left;
			padding: 0px 10px 0px 0px;
		}