body{
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Lato', sans-serif;
}
#header-nav{
	background-color: #ffffff;
	border-radius: 0;
	border: 0;
	
}
#logo-img{
	background: url('../images/logo-image1.png') no-repeat;
	width: 170px;
	height: 110px;
	margin: 0px 0px 15px 0;
}
.navbar-brand{
	padding-top: 25px;
}
.navbar-brand h1{
	font-family: 'Montserrat', serif;
	color: #D2691E;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}
.navbar-brand a:hover, .navbar a:focus{
	text-decoration: none;
}
.navbar-brand p{
	color: brown ;
	text-transform: capitalize;
	font-size: .7em;
	margin: 2px;
}
.navbar-brand p span{
	/*vertical-align: middle; if we put image withe text we aligne text withe image
	 */
}